extends layout

block content
  .card.text-center.col-lg-10.col-md-10.col-sm-12.mx-auto.title_card
    .card-body
        h4.card-title Special title treatment
        p.card-text With supporting text below as a natural lead-in to additional content.
        
  |
  .row.col-lg-10.col-md-10.col-sm-12.mx-auto
    .card.col-lg-4.col-md-6.col-sm-12
      img.card-img-top(src='...' alt='Card image cap')
      .card-body
        h4.card-title
          | Card title
        p.card-text
          | abcd
        p.card-text 
          small.text-muted
            | #abc
    |
    .card.col-lg-4.col-md-6.col-sm-12
      .card.col-lg-4.col-md-6.col-sm-12
        img.card-img-top(src='...' alt='Card image cap')
        .card-body
          h4.card-title
            | Card title
          p.card-text
            | abcd
          p.card-text 
            small.text-muted
              | #abc
    .card.col-lg-4.col-md-6.col-sm-12
      img.card-img-top(src='...' alt='Card image cap')
      .card-body
        h4.card-title
          | Card title
        p.card-text
          | abcd
        p.card-text 
          small.text-muted
            | #abc