extends layout

block content
  h1.text-center.m-3     
  |
  .row.col-lg-10.col-md-12.col-sm-12.mx-auto
    .col-md-6
        h3 서비스 목적
        p 본 서비스는 웹프로그래밍 프로젝트를 위해 만든 페이지이다.
    .col-md-6
      h3 주요 기능
      ul
        li 이벤트 생성, 후기 작성
        li 이벤트 목록 조회, 상세정보 조회
        li 등록자는 이벤트 정보를 수정/삭제 가능
        li 관리자로 사용자 목록 관리
        li 지도를 이용해 주소 조회
        li Responsive Design
        