.locate= eventcard.locate
.row
  .col-sm
    .author
      | Create at #{moment(eventcard.createdAt).format('YYYY-MM-DD')}
      //- if eventcard.author
      //-   | 
      //-   | by #[a(href=`/users/${eventcard.author.id}`)= eventcard.author.name] 
